aniso8601==9.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cryptography==36.0.2
et-xmlfile==1.1.0
Flask==2.0.3
Flask-RESTful==0.3.9
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.0
MarkupSafe==2.1.1
msal==1.17.0
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.1
psycopg2==2.9.3
pycparser==2.21
PyJWT==2.3.0
pyodbc==4.0.32
python-dateutil==2.8.2
python-power-bi==0.1.2
pytz==2022.1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
SQLAlchemy-Utils==0.38.2
urllib3==1.26.9
Werkzeug==2.0.3